.fujin {
  &__coupon {
    padding: 60px 0;
    background-color: #fcf6f1;
    @media screen and (max-width:767px) {
      padding: 30px 0;
    }
    &__MainVisual {
      position: relative;
      width: 100%;
      height: 400px;
      background-image: url(../image/fujin_img34.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: .2;
      }
      &__title {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 60px;
        color: #ffffff;
        font-weight: bold;
        font-family: serif;
        z-index: 1;
        @media screen and (max-width:767px) {
          font-size: 40px;
        }
      }
    }
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      @media screen and (max-width:767px) {
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 30px;
      font-size: 50px;
      font-weight: bold;
      font-family: serif;
      @media screen and (max-width:767px) {
        font-size: 36px;
      }
    }
    &__box01 {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 50px;
      @media screen and (max-width:1000px) {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-bottom: 40px;
      }
      &__list {
        position: relative;
        width: calc(50% - 15px);
        padding: 20px 40px 20px 20px;
        background-color: #db3b1f;
        border: 4px solid #ccc;
        border-radius: 10px;
        @media screen and (max-width:1000px) {
          width: 100%;
          padding: 15px 30px 15px 15px;
        }
        &:hover {
          transition: .6s;
          background: #bd2611
        }
        &:nth-of-type(n + 3) {
          margin-top: 40px;
        }
        &:nth-of-type(n + 2) {
          @media screen and (max-width:1000px) {
            margin-top: 30px;
          }
        }
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
          width: 20px;
          height: 20px;
          border-top: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
          transform: rotate(45deg) translateY(-50%);
          @media screen and (max-width:1000px) {
            width: 10px;
            height: 10px;
            right: 20px;
          }
        }
        &__title {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          @media screen and (max-width:1000px) {
            font-size: 16px;
          }
        }
        ul {
          li {
            &:nth-of-type(n + 2) {
              margin-top: 10px;
            }
            dl {
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: baseline;
              align-items: baseline;
              -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
              @media screen and (max-width:1000px) {
                font-size: 14px;
              }
              dt {
                width: 120px;
                padding: 3px 6px;
                text-align: center;
                background-color: #ebe2e0;
                @media screen and (max-width:1000px) {
                  width: 100px;
                }
              }
              dd {
                width: calc(100% - 140px);
                margin-left: 20px;
                color: #ffffff;
                @media screen and (max-width:1000px) {
                  width: calc(100% - 110px);
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    &__notice {
      max-width: 650px;
      margin: 0 auto;
      &__title {
        font-size: 18px;
        padding: 10px 20px;
        color: #ffffff;
        font-weight: bold;
        background-image: url(../image/fujin_img01.png);
        @media screen and (max-width:767px) { 
          padding: 10px;
          font-size: 16px;
        }
      }
      &__text {
        padding: 20px;
        border-left: 1px solid #db3b1f;
        border-right: 1px solid #db3b1f;
        border-bottom: 1px solid #db3b1f;
        @media screen and (max-width:767px) { 
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    &__fadeIn {
      opacity: 0;
      visibility: hidden;
      transition: .7s;
      &.show {
        opacity: 1;
        width: 100vw;
        height: 100vh;
        position: fixed;
        visibility: inherit;
        top: 0;
        left: 0;
        background-color: #fcf6f1;
        z-index: 100;
      }
      &__content {
        position: absolute;
        min-width: 560px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @media screen and (max-width:767px) {
          min-width: calc(100% - 40px);
        }
        &__title {
          position: relative;
          padding-bottom: 70px;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          &::after {
            position: absolute;
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../image/fujin_icon05.png);
            background-position: center;
            background-size: 30px,30px;
            background-repeat: no-repeat;
          }
        }
        &__text {
          margin-bottom: 30px;
          text-align: center;
          font-size: 18px;
        }
        &__list {
          position: relative;
          width: 100%;
          margin-bottom: 40px;
          padding: 20px;
          background-color: #db3b1f;
          border: 4px solid #ccc;
          border-radius: 10px;
          @media screen and (max-width:767px) {
            padding: 15px 15px 15px 15px;
          }
          &__title {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            @media screen and (max-width:767px) {
              font-size: 16px;
            }
          }
          ul {
            li {
              &:nth-of-type(n + 2) {
                margin-top: 10px;
              }
              dl {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: baseline;
                align-items: baseline;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                @media screen and (max-width:767px) {
                  font-size: 14px;
                }
                dt {
                  width: 120px;
                  padding: 3px 6px;
                  text-align: center;
                  background-color: #ebe2e0;
                  @media screen and (max-width:767px) {
                    width: 100px;
                  }
                }
                dd {
                  width: calc(100% - 140px);
                  margin-left: 20px;
                  color: #ffffff;
                  @media screen and (max-width:767px) {
                    width: calc(100% - 110px);
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
        &__image {
          margin: 0 auto;
          width: 300px;
          img {
            width: 100%;
          }
        }
      }
      &__button {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        @media screen and (max-width:767px) {
          top: 20px;
          right: 20px;
          width: 20px;
          height: 20px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}