header {
  padding: 10px 0;
  background-image: url(../image/fujin_img01.png);
  .fujin__box01 {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    &__logo {
      width: 300px;
      img {
        width: 100%;
      }
    }
    &__right {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
    &__contact {
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      span {
        position: relative;
        padding-left: 30px;
        font-size: 18px;
        line-height: 2.0;
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 25px;
          height: 25px;
          background: url(../image/fujin_icon01.png) no-repeat 0 0;
          background-size: 25px 25px;
        }
      }
    }
    &__reserve {
      margin-left: 25px;
      padding: 20px 10px;
      border-radius: 20px;
      display: block;
      background: #db3b1f;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      &:hover {
        transition: .6s;
        background: #bd2611;
      }
    }
  }

}

nav {
  // background-image: url(../image/fujin_img01.png);
  background-color: #db3b1f;
}
.fujin__box02 {
  &__nav {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    li {
      width: 16.6%;
      text-align: center;
      font-size: 18px;
      &:hover {
        transition: .6s;
        background: #bd2611;
      }
      a {
        display: block;
        padding: 10px 0;
        color: #ffffff;
        text-decoration: none;
      }
    }
    li + li {
      margin-left: 15px;
    }
  }
}

.fujin {
  &__content01 {
    height: 450px;
    .swiper {
      height: 450px;
      max-width: 100%;
      // margin: 30px 0;
      .swiper-wrapper {
        .swiper-slide {
          height: auto;
          img {
            width: 100%;
            height: 400px;
            object-fit: cover; /* この一行を追加するだけ！ */
          }
        }
      }
    }
  }

  &__content02 {
    position: relative;
    padding-top: 60px;
    margin-bottom: 60px;
    &::before {
      z-index: -1;
      position: absolute;
      content: '';
      display: block;
      background: #f1efe9;
      left: 0;
      top: 0;
      width: 700px;
      height: 680px;
    }
    &__inner {
      max-width: 1200px;
      margin: 0 auto;
    }
    &__title {
      position: relative;
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: bold;
      span {
        position: absolute;
        display: inline-block;
        bottom: -20px;
        right: 0;
        color: #db3b1f;
      }
    }
    &__box01 {
      position: relative;
    }
    &__box02 {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      height: 645px;
      background: url(../image/fujin_img05.jpg) no-repeat center/cover;
      margin-left: calc((100% - 1200px) / 2);
      color: #db3b1f;
      &__text {
        position: relative;
        padding-left: 80px;
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
}

//swiper.css上書き
.swiper-pagination {
  bottom: 10px !important;
}
.swiper-horizontal>.swiper-scrollbar {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
 position: absolute;
 top: 50%;
 width: calc(var(--swiper-navigation-size) / 44 * 27);
 height: var(--swiper-navigation-size);
 margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
 z-index: 10;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--swiper-navigation-color, var(--swiper-theme-color));
 width: 48px; /* ボタンの幅 */
 height: 96px; /* ボタンの高さ */
 background-size: 48px 96px; /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
 margin-top: -48px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}
/* 次ページボタンのスタイル */
.swiper-button-next {
  background-image: url(../image/fujin_icon02.png);
  &:hover {
    transition: .4s;
    background-image: url(../image/fujin_icon02_hover.png);
  }
}
/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url(../image/fujin_icon02.png);
  transform: scale(-1, 1); /* 左右反転 */
  &:hover {
    transition: .4s;
    background-image: url(../image/fujin_icon02_hover.png);
  }
}
//元矢印削除
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
