//ハンバーガーメニュー開いてるときbody固定
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

header {
  padding: 10px 0;
  background-image: url(../image/fujin_img01.png);
  .fujin__box01 {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @media screen and (max-width:1000px) {
      width: 100%;
    }
    &__logo {
      width: 300px;
      @media screen and (max-width:767px) {
        width: 200px;
      }
      a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    &__right {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
    //▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ハンバーガーメニュー記述▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
    @media screen and (max-width:767px) {
      /* ----------------------- */
      /* base_sp
      /* ----------------------- */
      /* 以下、ハンバーガーボタン */
      .burger-btn{
        display: block;      
        width: 39px;      
        height: 39px;      
        position: relative;      
        z-index: 3;
        border:none;    
      }    
      .bar{      
        width: 20px;      
        height: 1px;        
        display: block;      
        position: absolute;      
        left: 50%;      
        transform: translateX(-50%);      
        background-color: #fff;    
      }    
      .bar_top{   
        top: 10px;
      }
      .bar_mid{    
        top: 50%;
        transform: translate(-50%,-50%);
      }
      .bar_bottom{
        bottom: 10px;
      }
      .burger-btn.close .bar_top{      
        transform: translate(-50%,10px) rotate(45deg);      
        transition: transform .3s;    
      }    
      .burger-btn.close .bar_mid{      
        opacity: 0;       
        transition: opacity .3s;    
      }    
      .burger-btn.close .bar_bottom{      
        transform: translate(-50%,-8px) rotate(-45deg);      
        transition: transform .3s;    
      }

      /* 以下、ハンバーガーメニュー */
      .nav-wrapper{      
        visibility: hidden;     
        opacity: 0;
        width: 100vw;      
        height: 100vh;      
        position: fixed;      
        top: 0;      
        left: 0;
        transition: all .5s;       
        z-index: 2;     
      }     
      .header-nav{        
        width: 100%;        
        height: 100%;        
        // background-color:#99470e; 
        background-image: url(../image/fujin_img01.png);
        z-index: 2;      
      }     
      .nav-list{        
        display: block;        
        position: absolute;        
        top: 50%;        
        left: 50%;        
        transform: translate(-50%,-50%);        
        text-align: center;      
      }      
      .nav-item{        
        margin-right: 0;        
        margin-bottom: 40px;
        a {
          color: #ffffff;
        } 
      }

      /* メニューオープン時 */
      .nav-wrapper.fade {
        visibility: visible;
        opacity: 1;
      }
      .noscroll{
        overflow: hidden;
      }
      /* デフォルトのbuttonスタイルをリセット */
      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: none;
        padding: 0;
        vertical-align: middle;
      }
    }
    //▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ハンバーガーメニュー記述▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
    &__contact {
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      span {
        position: relative;
        padding-left: 30px;
        font-size: 18px;
        line-height: 2.0;
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 25px;
          height: 25px;
          background: url(../image/fujin_icon01.png) no-repeat 0 0;
          background-size: 25px 25px;
        }
      }
    }
    &__reserve {
      margin-left: 25px;
      padding: 20px 10px;
      border-radius: 20px;
      display: block;
      background: #db3b1f;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      &:hover {
        transition: .6s;
        background: #bd2611;
      }
    }
  }

}

nav {
  // background-image: url(../image/fujin_img01.png);
  background-color: #db3b1f;
}
.fujin__box02 {
  &__nav {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @media screen and (max-width:1000px) {
      width: 100%;
    }
    li {
      width: 16.6%;
      text-align: center;
      font-size: 18px;
      &:hover {
        transition: .6s;
        background: #bd2611;
      }
      a {
        display: block;
        padding: 10px 0;
        color: #ffffff;
        text-decoration: none;
      }
    }
    li + li {
      margin-left: 15px;
    }
  }
}

.fujin {
  &__content01 {
    height: 450px;
    .swiper {
      height: 450px;
      max-width: 100%;
      // margin: 30px 0;
      .swiper-wrapper {
        .swiper-slide {
          height: auto;
          img {
            width: 100%;
            height: 400px;
            object-fit: cover; /* この一行を追加するだけ！ */
          }
        }
      }
    }
  }

  &__content02 {
    position: relative;
    padding-top: 60px;
    margin-bottom: 60px;
    @media screen and (max-width:767px) {
      padding-top: 30px;
      margin-bottom: 30px;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: '';
      display: block;
      background: #f1efe9;
      left: 0;
      top: 0;
      width: 700px;
      height: 680px;
      @media screen and (max-width:767px) {
        width: 95%;
        height: 450px;
      }
    }
    &__inner {
      max-width: 1000px;
      margin: 0 auto 50px;
      padding: 0 20px;
      @media screen and (max-width:767px) {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;
      }
    }
    &__title {
      position: relative;
      font-size: 40px;
      font-weight: bold;
      @media screen and (max-width:767px) {
        font-size: 32px;
      }
      span {
        position: absolute;
        display: inline-block;
        bottom: -20px;
        right: 0;
        font-size: 40px;
        color: #db3b1f;
        @media screen and (max-width:767px) {
          position: inherit;
          width: calc(100% - 15px);
          margin: 15px 0 0 20px;
          bottom: 0;
          font-size: 28px;
        }
      }
    }
    &__box01 {
      position: relative;
    }
    &__box02 {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      height: 645px;
      background: url(../image/fujin_img05.jpg) no-repeat center/cover;
      margin-left: calc((100% - 767px) / 2);
      color: #ffffff;
      @media screen and (max-width:767px) {
        height: 470px;
        margin-left: 30px;
      }
      &__text {
        position: relative;
        padding-left: 80px;
        font-size: 28px;
        font-weight: bold;
        @media screen and (max-width:767px) {
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }
  }

  &__content03 {
    margin: 60px 0;
    @media screen and (max-width:767px) {
      margin: 30px 0;
    }
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      @media screen and (max-width:767px) {
        width: 100%;
      }
      //▼タブ切り替え▼
      .tab-group{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
        margin-bottom: 40px;
      }
      .tab{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        flex-grow: 1;
        width: 33.3%;
        padding:10px 5px;
        list-style:none;
        border:solid 1px #CCC;
        text-align:center;
        cursor:pointer;
        @media screen and (max-width:767px) {
          font-size: 14px;
        }
        &:hover {
          border:solid 1px #bd2611;
        }
      }
      .panel{
        display:none;
      }
      .tab.is-active{
        background:#db3b1f;
        color:#FFF;
        transition: all 0.2s ease-out;
      }
      .panel.is-show{
        display:block;
      }
      //▲タブ切り替え▲
    }
    &__title {
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: bold;
      @media screen and (max-width:767px) {
        font-size: 32px;
      }
    }
    &__box01 {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @media screen and (max-width:767px) {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
      li {
        width: 45%;
        // min-height: 230px;
        @media screen and (max-width:767px) {
          max-width: 640px;
          width: 100%;
          margin: 0 auto;
        }
        img {
          width: 100%;
          margin-bottom: 40px;
          box-shadow: 8px 8px #ccc;
          @media screen and (max-width:767px) {
            margin-bottom: 20px;
            box-shadow: 4px 4px #ccc;
          }
        }
      }
      li:nth-of-type(n + 3) {
        margin-top: 50px;
      }
      li:nth-of-type(n + 2) {
        @media screen and (max-width:767px) {
          margin-top: 30px;
        }
      }
      &__title {
        padding-bottom: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #db3b1f;
        @media screen and (max-width:767px) {
          font-size: 18px;
        }
        span {
          margin-left: 25px;
          display: inline-block;
          color: #db3b1f;
          @media screen and (max-width:767px) {
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }
}



//swiper.css上書き
.swiper-pagination {
  bottom: 10px !important;
}
.swiper-horizontal>.swiper-scrollbar {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
 position: absolute;
 top: 50%;
 width: calc(var(--swiper-navigation-size) / 44 * 27);
 height: var(--swiper-navigation-size);
 margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
 z-index: 10;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--swiper-navigation-color, var(--swiper-theme-color));
 width: 48px; /* ボタンの幅 */
 height: 96px; /* ボタンの高さ */
 background-size: 48px 96px; /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
 margin-top: -48px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}
/* 次ページボタンのスタイル */
.swiper-button-next {
  background-image: url(../image/fujin_icon02.png);
  &:hover {
    transition: .4s;
    background-image: url(../image/fujin_icon02_hover.png);
  }
}
/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url(../image/fujin_icon02.png);
  transform: scale(-1, 1); /* 左右反転 */
  &:hover {
    transition: .4s;
    background-image: url(../image/fujin_icon02_hover.png);
  }
}
//元矢印削除
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}

//pc,sp出し分け
.pcOnly {
  @media screen and (max-width:767px) { 
    display: none!important;
  }
}
.spOnly {
  display: none!important;
  @media screen and (max-width:767px) { 
    display: block!important;
  }
}