@charset "UTF-8";
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

header {
  padding: 10px 0;
  background-image: url(../image/fujin_img01.png);
}

header .fujin__box01 {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  header .fujin__box01 {
    width: 100%;
  }
}

header .fujin__box01__logo {
  width: 300px;
}

@media screen and (max-width: 767px) {
  header .fujin__box01__logo {
    width: 200px;
  }
}

header .fujin__box01__logo a {
  display: block;
}

header .fujin__box01__logo img {
  width: 100%;
}

header .fujin__box01__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  header .fujin__box01 {
    /* ----------------------- */
    /* base_sp
      /* ----------------------- */
    /* 以下、ハンバーガーボタン */
    /* 以下、ハンバーガーメニュー */
    /* メニューオープン時 */
    /* デフォルトのbuttonスタイルをリセット */
  }
  header .fujin__box01 .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  header .fujin__box01 .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
  }
  header .fujin__box01 .bar_top {
    top: 10px;
  }
  header .fujin__box01 .bar_mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .fujin__box01 .bar_bottom {
    bottom: 10px;
  }
  header .fujin__box01 .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  header .fujin__box01 .burger-btn.close .bar_mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  header .fujin__box01 .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  header .fujin__box01 .nav-wrapper {
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
  }
  header .fujin__box01 .header-nav {
    width: 100%;
    height: 100%;
    background-image: url(../image/fujin_img01.png);
    z-index: 2;
  }
  header .fujin__box01 .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  header .fujin__box01 .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  header .fujin__box01 .nav-item a {
    color: #ffffff;
  }
  header .fujin__box01 .nav-wrapper.fade {
    visibility: visible;
    opacity: 1;
  }
  header .fujin__box01 .noscroll {
    overflow: hidden;
  }
  header .fujin__box01 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }
}

header .fujin__box01__contact {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

header .fujin__box01__contact span {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  line-height: 2.0;
}

header .fujin__box01__contact span::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../image/fujin_icon01.png) no-repeat 0 0;
  background-size: 25px 25px;
}

header .fujin__box01__reserve {
  margin-left: 25px;
  padding: 20px 10px;
  border-radius: 20px;
  display: block;
  background: #db3b1f;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

header .fujin__box01__reserve:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background: #bd2611;
}

nav {
  background-color: #db3b1f;
}

.fujin__box02__nav {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .fujin__box02__nav {
    width: 100%;
  }
}

.fujin__box02__nav li {
  width: 16.6%;
  text-align: center;
  font-size: 18px;
}

.fujin__box02__nav li:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background: #bd2611;
}

.fujin__box02__nav li a {
  display: block;
  padding: 10px 0;
  color: #ffffff;
  text-decoration: none;
}

.fujin__box02__nav li + li {
  margin-left: 15px;
}

.fujin__content01 {
  height: 450px;
}

.fujin__content01 .swiper {
  height: 450px;
  max-width: 100%;
}

.fujin__content01 .swiper .swiper-wrapper .swiper-slide {
  height: auto;
}

.fujin__content01 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  /* この一行を追加するだけ！ */
}

.fujin__content02 {
  position: relative;
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .fujin__content02 {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

.fujin__content02::before {
  z-index: -1;
  position: absolute;
  content: '';
  display: block;
  background: #f1efe9;
  left: 0;
  top: 0;
  width: 700px;
  height: 680px;
}

@media screen and (max-width: 767px) {
  .fujin__content02::before {
    width: 95%;
    height: 450px;
  }
}

.fujin__content02__inner {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__content02__inner {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.fujin__content02__title {
  position: relative;
  font-size: 48px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .fujin__content02__title {
    font-size: 36px;
  }
}

.fujin__content02__title span {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  right: 0;
  font-size: 40px;
  color: #db3b1f;
}

@media screen and (max-width: 767px) {
  .fujin__content02__title span {
    position: inherit;
    width: calc(100% - 15px);
    margin: 15px 0 0 20px;
    bottom: 0;
    font-size: 32px;
  }
}

.fujin__content02__box01 {
  position: relative;
}

.fujin__content02__box02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 645px;
  background: url(../image/fujin_img05.jpg) no-repeat center/cover;
  margin-left: calc((100% - 767px) / 2);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__content02__box02 {
    height: 470px;
    margin-left: 30px;
  }
}

.fujin__content02__box02__text {
  position: relative;
  padding-left: 80px;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .fujin__content02__box02__text {
    padding-left: 10px;
    font-size: 20px;
  }
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-horizontal > .swiper-scrollbar {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  width: 48px;
  /* ボタンの幅 */
  height: 96px;
  /* ボタンの高さ */
  background-size: 48px 96px;
  /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
  margin-top: -48px;
  /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

/* 次ページボタンのスタイル */
.swiper-button-next {
  background-image: url(../image/fujin_icon02.png);
}

.swiper-button-next:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url(../image/fujin_icon02_hover.png);
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url(../image/fujin_icon02.png);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  /* 左右反転 */
}

.swiper-button-prev:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url(../image/fujin_icon02_hover.png);
}

.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .pcOnly {
    display: none !important;
  }
}

.spOnly {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .spOnly {
    display: block !important;
  }
}
/*# sourceMappingURL=index.css.map */