@charset "UTF-8";
.fujin__main-slider {
  background-color: #fcf6f1;
  margin-bottom: 50px;
  /* 次ページボタンのスタイル */
  /* 前ページボタンのスタイル */
}

.fujin__main-slider .swiper {
  width: 100%;
  max-width: 1290px;
}

.fujin__main-slider .swiper .swiper-wrapper .swiper-slide {
  height: auto;
}

.fujin__main-slider .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fujin__main-slider .swiper-pagination {
  position: relative !important;
  margin-top: -10px !important;
  padding: 10px 0 !important;
  background-color: #db3b1f !important;
  bottom: 0 !important;
}

.fujin__main-slider .swiper-horizontal > .swiper-scrollbar {
  display: none;
}

.fujin__main-slider .swiper-button-prev,
.fujin__main-slider .swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  width: 48px;
  /* ボタンの幅 */
  height: 96px;
  /* ボタンの高さ */
  background-size: 48px 96px;
  margin-top: -48px;
}

@media screen and (max-width: 767px) {
  .fujin__main-slider .swiper-button-prev,
  .fujin__main-slider .swiper-button-next {
    width: 36px;
    height: 72px;
    background-size: 36px 72px;
    margin-top: -36px;
  }
}

.fujin__main-slider .swiper-button-next {
  background-image: url(../image/fujin_icon02.png);
}

.fujin__main-slider .swiper-button-next:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url(../image/fujin_icon02_hover.png);
}

.fujin__main-slider .swiper-button-prev {
  background-image: url(../image/fujin_icon02.png);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  /* 左右反転 */
}

.fujin__main-slider .swiper-button-prev:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url(../image/fujin_icon02_hover.png);
}

.fujin__main-slider .swiper-button-prev:after, .fujin__main-slider .swiper-button-next:after {
  display: none;
}

.fujin__main-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.9);
}

.fujin__main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #007aff;
}

.fujin__about {
  position: relative;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .fujin__about {
    padding: 30px 0;
  }
}

.fujin__about::before {
  z-index: -1;
  position: absolute;
  content: '';
  display: block;
  background: #f1efe9;
  left: 0;
  top: 0;
  width: 700px;
  height: 680px;
}

@media screen and (max-width: 767px) {
  .fujin__about::before {
    width: 95%;
    height: 620px;
  }
}

.fujin__about__inner {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__about__inner {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.fujin__about__title {
  position: relative;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
}

@media screen and (max-width: 767px) {
  .fujin__about__title {
    margin-bottom: 10px;
    font-size: 36px;
  }
}

.fujin__about__detail__title {
  font-size: 40px;
  font-weight: bold;
  color: #db3b1f;
}

@media screen and (max-width: 767px) {
  .fujin__about__detail__title {
    font-size: 28px;
  }
}

.fujin__about__detail .marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(0%, #fec187));
  background: linear-gradient(transparent 40%, #fec187 0%);
}

.fujin__about__detail__box__image {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
  margin: -100px 0 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__about__detail__box__image {
    width: 200px;
    height: 200px;
    margin: -40px 0 0 10px;
  }
}

.fujin__about__detail__box__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fujin__about__detail__box__text {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: #db3b1f;
}

@media screen and (max-width: 767px) {
  .fujin__about__detail__box__text {
    font-size: 18px;
  }
}

.fujin__about__detail__box__link {
  position: relative;
  padding: 10px 15px 10px 35px;
  background-color: #db3b1f;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__about__detail__box__link {
    padding: 10px 15px 10px 30px;
    font-size: 14px;
  }
}

.fujin__about__detail__box__link::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__about__detail__box__link::after {
    border-width: 7px 0 7px 7px;
  }
}

.fujin__about__detail__box__link:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #bd2611;
}

.fujin__about__detail__box .clearfix {
  clear: both;
}

.fujin__about__box01 {
  position: relative;
}

.fujin__about__box02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 600px;
  background: url(../image/fujin_img24.jpg) no-repeat center/cover;
  background-size: cover;
  margin-left: calc((100% - 767px) / 2);
  color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .fujin__about__box02 {
    height: 300px;
    margin-left: 30px;
  }
}

.fujin__about__box03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 400px;
  background: url(../image/fujin_img24.jpg) no-repeat center/cover;
  margin-right: calc((100% - 767px) / 2);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__about__box03 {
    height: 300px;
    margin-right: 30px;
  }
}

.fujin__card {
  padding: 60px 0;
  background-color: #fcf6f1;
}

@media screen and (max-width: 767px) {
  .fujin__card {
    padding: 30px 0;
  }
}

.fujin__card__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__card__inner {
    width: 100%;
  }
}

.fujin__card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .fujin__card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fujin__card__list li {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .fujin__card__list li {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
  .fujin__card__list li:nth-of-type(n + 2) {
    margin-top: 40px;
  }
}

.fujin__card__list li a {
  display: block;
  padding: 10px;
  background-color: #f1efe9;
  -webkit-box-shadow: 4px 4px 16px 2px rgba(10, 10, 10, 0.2), 0px 0px 0px 1px rgba(10, 10, 10, 0.04);
          box-shadow: 4px 4px 16px 2px rgba(10, 10, 10, 0.2), 0px 0px 0px 1px rgba(10, 10, 10, 0.04);
}

.fujin__card__list li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 4px 4px 16px 2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02);
          box-shadow: 4px 4px 16px 2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02);
}

.fujin__card__list__title {
  position: relative;
  padding: 30px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: serif;
}

@media screen and (max-width: 767px) {
  .fujin__card__list__title {
    padding: 20px 0;
    font-size: 24px;
  }
}

.fujin__card__list__title::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 14px 0;
  border-color: transparent #db3b1f transparent transparent;
}

.fujin__card__list__image img {
  width: 100%;
}

.fujin__notice {
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .fujin__notice {
    padding: 30px 0;
  }
}

.fujin__notice__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__notice__inner {
    width: 100%;
  }
}

.fujin__notice__title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
}

@media screen and (max-width: 767px) {
  .fujin__notice__title {
    font-size: 36px;
  }
}

.fujin__notice__wrapper {
  padding: 40px 0;
  background-image: url(../image/fujin_img01.png);
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper {
    padding: 30px 0;
  }
}

.fujin__notice__wrapper__content {
  width: calc(100% - 150px);
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__content {
    width: calc(100% - 30px);
  }
}

.fujin__notice__wrapper__title {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__title {
    font-size: 30px;
  }
}

.fujin__notice__wrapper__box01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #CCC;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px #cccccc;
          box-shadow: 2px 2px #cccccc;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__box01 {
    font-size: 14px;
  }
}

.fujin__notice__wrapper__box01:nth-of-type(n + 2) {
  margin-top: 20px;
}

.fujin__notice__wrapper__box01:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
}

.fujin__notice__wrapper__box01:hover .fujin__content05__wrapper__box01__text {
  text-decoration: underline;
}

.fujin__notice__wrapper__box01__day {
  color: #db3b1f;
  width: 130px;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__box01__day {
    width: 115px;
  }
}

.fujin__notice__wrapper__box01__text {
  width: calc(100% - 135px);
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__box01__text {
    text-decoration: underline;
  }
}

.fujin__notice__wrapper__info-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__info-detail {
    margin-top: 20px;
  }
}

.fujin__notice__wrapper__info-detail a {
  position: relative;
  background-color: #db3b1f;
  padding: 10px 15px 10px 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__info-detail a {
    padding: 10px 15px 10px 30px;
    font-size: 14px;
  }
}

.fujin__notice__wrapper__info-detail a::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #ffffff;
}

@media screen and (max-width: 767px) {
  .fujin__notice__wrapper__info-detail a::after {
    border-width: 7px 0 7px 7px;
  }
}

.fujin__notice__wrapper__info-detail a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background: #bd2611;
}

.fujin__coupon {
  margin: 60px 0;
}

@media screen and (max-width: 767px) {
  .fujin__coupon {
    margin: 30px 0;
  }
}

.fujin__coupon__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__coupon__inner {
    width: 100%;
  }
}

.fujin__coupon__title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
}

@media screen and (max-width: 767px) {
  .fujin__coupon__title {
    font-size: 36px;
  }
}

.fujin__coupon__box01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fujin__coupon__box01__list {
  position: relative;
  width: calc(50% - 15px);
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list {
    width: 100%;
  }
}

.fujin__coupon__box01__list:nth-of-type(n + 3) {
  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list:nth-of-type(n + 2) {
    margin-top: 30px;
  }
}

.fujin__coupon__box01__list::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 25px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list::after {
    width: 10px;
    height: 10px;
    right: 20px;
  }
}

.fujin__coupon__box01__list a {
  display: block;
  height: 260px;
  padding: 20px 40px 0 20px;
  background-color: #db3b1f;
  border: 4px solid #ccc;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list a {
    height: auto;
    padding: 15px 30px 15px 15px;
  }
}

.fujin__coupon__box01__list a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background: #bd2611;
}

.fujin__coupon__box01__list__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list__title {
    font-size: 16px;
  }
}

.fujin__coupon__box01__list ul li:nth-of-type(n + 2) {
  margin-top: 10px;
}

.fujin__coupon__box01__list ul li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list ul li dl {
    font-size: 14px;
  }
}

.fujin__coupon__box01__list ul li dl dt {
  width: 120px;
  padding: 3px 6px;
  text-align: center;
  background-color: #ebe2e0;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list ul li dl dt {
    width: 100px;
  }
}

.fujin__coupon__box01__list ul li dl dd {
  width: calc(100% - 140px);
  margin-left: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .fujin__coupon__box01__list ul li dl dd {
    width: calc(100% - 110px);
    margin-left: 10px;
  }
}

.fujin__job {
  padding: 60px 0;
  background-color: #fcf6f1;
}

@media screen and (max-width: 767px) {
  .fujin__job {
    padding: 30px 0;
  }
}

.fujin__job__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__job__inner {
    width: 100%;
  }
}

.fujin__job__title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
}

@media screen and (max-width: 767px) {
  .fujin__job__title {
    font-size: 36px;
  }
}

.fujin__job__content01 {
  border: 1px solid #db3b1f;
  border-radius: 5px;
}

.fujin__job__top {
  padding: 15px;
  background-color: #FCF3DE;
  color: #ff5301;
}

@media screen and (max-width: 767px) {
  .fujin__job__top {
    padding: 10px;
  }
}

.fujin__job__top__title {
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fujin__job__top__title {
    font-size: 18px;
  }
}

.fujin__job__top__subtitle {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fujin__job__top__subtitle {
    font-size: 16px;
  }
}

.fujin__job__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dashed #ccc;
}

@media screen and (max-width: 767px) {
  .fujin__job__middle {
    -webkit-align-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.fujin__job__middle__image {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .fujin__job__middle__image {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.fujin__job__middle__image img {
  width: 100%;
}

.fujin__job__middle__detail {
  width: 66%;
}

@media screen and (max-width: 767px) {
  .fujin__job__middle__detail {
    width: 100%;
  }
}

.fujin__job__middle__detail table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
}

.fujin__job__middle__detail table tbody tr th, .fujin__job__middle__detail table tbody tr td {
  padding: 10px 5px;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
  vertical-align: middle;
}

.fujin__job__middle__detail table tbody tr th {
  width: 60px;
  background-color: #efefef;
  text-align: center;
}

.fujin__job__middle__detail__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.fujin__job__middle__detail__tag li {
  margin: 3px;
  padding: 3px;
  color: #D08E45;
  font-size: 14px;
  border: 1px solid #D08E45;
}

.fujin__job__middle__detail__text {
  font-size: 14px;
}

.fujin__job__bottom {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom {
    padding: 10px;
  }
}

.fujin__job__bottom__box01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01 {
    -webkit-align-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fujin__job__bottom__box01__tel-wrapper {
  width: 260px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01__tel-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
}

.fujin__job__bottom__box01__tel-wrapper span {
  font-size: 18px;
  color: #a29167;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01__tel-wrapper span {
    font-size: 16px;
  }
}

.fujin__job__bottom__box01__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 260px;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01__btn-wrapper {
    -webkit-align-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.fujin__job__bottom__box01__btn-wrapper--detail {
  width: 110px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01__btn-wrapper--detail {
    width: 100%;
    margin-bottom: 10px;
  }
}

.fujin__job__bottom__box01__btn-wrapper--detail a {
  display: block;
  padding: 10px 0;
  color: #a29167;
  border: 1px solid #a29167;
  border-radius: 5px;
}

.fujin__job__bottom__box01__btn-wrapper--detail a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #f0e9dc;
}

.fujin__job__bottom__box01__btn-wrapper--subscription {
  width: 140px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fujin__job__bottom__box01__btn-wrapper--subscription {
    width: 100%;
  }
}

.fujin__job__bottom__box01__btn-wrapper--subscription a {
  display: block;
  padding: 15px 0;
  color: #ffffff;
  background-color: #db3b1f;
  font-weight: bold;
  border-radius: 5px;
}

.fujin__job__bottom__box01__btn-wrapper--subscription a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #bd2611;
}
/*# sourceMappingURL=index.css.map */