.fujin {
  &__menu {
    padding: 60px 0;
    background-color: #fcf6f1;
    @media screen and (max-width:767px) {
      padding: 30px 0;
    }
    &__MainVisual {
      position: relative;
      width: 100%;
      height: 400px;
      background-image: url(../image/fujin_main_01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &__title {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 60px;
        color: #ffffff;
        font-weight: bold;
        font-family: serif;
        @media screen and (max-width:767px) {
          font-size: 40px;
        }
      }
    }
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      @media screen and (max-width:767px) {
        width: 100%;
      }
      //▼タブ切り替え▼
      .tab-group{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
        margin-bottom: 40px;
      }
      .tab{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        flex-grow: 1;
        width: 33.3%;
        padding:10px 5px;
        list-style:none;
        border:solid 1px #CCC;
        text-align:center;
        cursor:pointer;
        @media screen and (max-width:767px) {
          font-size: 14px;
        }
        &:hover {
          border:solid 1px #bd2611;
        }
      }
      .panel{
        display:none;
      }
      .tab.is-active{
        background:#db3b1f;
        color:#FFF;
        transition: all 0.2s ease-out;
      }
      .panel.is-show{
        display:block;
      }
      //▲タブ切り替え▲
    }
    &__box01 {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @media screen and (max-width:767px) {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
      .icon {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 100px;
          height: 100px;
          top: -30px;
          right: -30px;
          transform: rotate(25deg);
          background-image: url(../image/fujin_icon03.png);
          background-size: 100px,100px;
          background-position: center,center;
          background-repeat: no-repeat;
          @media screen and (max-width:767px) {
            width: 70px;
            height: 70px;
            top: -10px;
            right: -10px;
            background-size: 70px,70px;
          }
        }
      }
      li {
        width: 45%;
        @media screen and (max-width:767px) {
          max-width: 640px;
          width: 100%;
          margin: 0 auto;
        }
        &:nth-of-type(n + 3) {
          margin-top: 50px;
        }
        &:nth-of-type(n + 2) {
          @media screen and (max-width:767px) {
            margin-top: 30px;
          }
        }
        img {
          width: 100%;
          margin-bottom: 40px;
          box-shadow: 8px 8px #ccc;
          @media screen and (max-width:767px) {
            margin-bottom: 20px;
            box-shadow: 4px 4px #ccc;
          }
        }
      }
      &__title {
        margin-bottom: 15px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #db3b1f;
        @media screen and (max-width:767px) {
          font-size: 18px;
        }
        span {
          margin-left: 20px;
          display: inline-block;
          color: #db3b1f;
          @media screen and (max-width:767px) {
            margin: 10px 0 0 0;
          }
        }
        strong {
          display: inline-block;
          color: #db3b1f;
          @media screen and (max-width:767px) {
            margin: 10px 0 0 0;
          }
        }
      }
      &__text {
        margin-bottom: 15px;
      }
      &__allergy {
        position: relative;
        padding-left: 20px;
        font-size: 14px;
        &::after {
          content: "▶";
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
        }
      }
    }
  }
}