.fujin__form {
  padding: 60px 0;
  background-color: #fcf6f1;
}

@media screen and (max-width: 767px) {
  .fujin__form {
    padding: 30px 0;
  }
}

.fujin__form__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__form__inner {
    width: 100%;
  }
}

.fujin__form__box01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .fujin__form__box01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fujin__form__box01__image {
  width: 250px;
}

@media screen and (max-width: 767px) {
  .fujin__form__box01__image {
    width: 100%;
    margin-bottom: 30px;
  }
}

.fujin__form__box01__image img {
  width: 100%;
}

.fujin__form__box01__right {
  width: calc(100% - 280px);
}

@media screen and (max-width: 767px) {
  .fujin__form__box01__right {
    width: 100%;
  }
}

.fujin__form__box01__right__top {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}

.fujin__form__box01__right__top__title {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #636363;
}

.fujin__form__box01__right__top__label {
  display: inline-block;
  padding: 7px 11px;
  background-color: #db3b1f;
  color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
}

.fujin__form__box01__right__sub-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.fujin__form__box01__right table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
}

.fujin__form__box01__right table tbody tr th, .fujin__form__box01__right table tbody tr td {
  padding: 10px 5px;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
  vertical-align: middle;
}

.fujin__form__box01__right table tbody tr th {
  width: 60px;
  background-color: #efefef;
  text-align: center;
}

.fujin__form__box01__right__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .fujin__form__box01__right__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.fujin__form__box01__right__bottom__tell {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fujin__form__box01__right__bottom__tell {
    margin-bottom: 10px;
  }
}

.fujin__form__box01__right__bottom__tell__number {
  font-size: 18px;
  color: #a29167;
  text-decoration: underline;
}

.fujin__form__box01__right__bottom__detail {
  display: inline-block;
  width: 110px;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fujin__form__box01__right__bottom__detail {
    margin-left: inherit;
  }
}

.fujin__form__box01__right__bottom__detail a {
  display: block;
  padding: 10px 0;
  color: #a29167;
  border: 1px solid #a29167;
  border-radius: 5px;
}

.fujin__form__box01__right__bottom__detail a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #f0e9dc;
}

.fujin__form__button {
  display: block;
  width: 230px;
  margin: auto;
  padding: 10px 20px;
  background-color: #db3b1f;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.fujin__form__button:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #bd2611;
  cursor: pointer;
}

.fujin__form form table {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .fujin__form form table {
    margin-bottom: 30px;
  }
}

.fujin__form form table th,
.fujin__form form table td {
  padding: 8px 12px;
  border: 1px solid #333;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .fujin__form form table th,
  .fujin__form form table td {
    width: 100%;
    display: block;
  }
}

.fujin__form form table th {
  width: 240px;
  background: #eee;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .fujin__form form table th {
    width: 100%;
  }
}

.fujin__form form table th .required {
  margin-left: 15px;
  color: #db3b1f;
  font-weight: bold;
}

.fujin__form form table td {
  background-color: #ffffff;
  line-height: 1.5;
}

.fujin__form form table td input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: inner 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.fujin__form form table td input:focus {
  border: 1px solid #52a8ec;
  -webkit-box-shadow: inset 0 0 2px rgba(82, 168, 236, 0.15);
  box-shadow: inner 0 0 2px rgba(82, 168, 236, 0.15);
}

.fujin__form form table td input[name="address01"], .fujin__form form table td input[name="address02"] {
  width: 80%;
  min-width: 232px;
}

.fujin__form form table td .select__wrapper {
  position: relative;
  display: inline-block;
}

.fujin__form form table td .select__wrapper::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 18px;
  right: 5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.fujin__form form table td .select__wrapper:nth-of-type(n + 2) {
  margin-left: 10px;
}

.fujin__form form table td select {
  padding: 8px 24px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: inner 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.fujin__form form table td select:focus {
  border: 1px solid #52a8ec;
  -webkit-box-shadow: inset 0 0 2px rgba(82, 168, 236, 0.15);
  box-shadow: inner 0 0 2px rgba(82, 168, 236, 0.15);
}

.fujin__form form .alertText {
  display: block;
  margin-top: 10px;
  color: #ff0000;
}

.fujin__formConf {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transition: .7s;
  transition: .7s;
  padding: 60px 0;
  background-color: #fcf6f1;
}

@media screen and (max-width: 767px) {
  .fujin__formConf {
    padding: 30px 0;
  }
}

.fujin__formConf.show {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  background-color: #fcf6f1;
  z-index: 100;
}

.fujin__formConf__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .fujin__formConf__inner {
    width: 100%;
  }
}

.fujin__formConf__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .fujin__formConf__title {
    font-size: 20px;
  }
}

.fujin__formConf__subtitle {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .fujin__formConf__subtitle {
    font-size: 18px;
  }
}

.fujin__formConf__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fujin__formConf__button-wrapper--fix {
  display: block;
  width: 230px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  text-align: center;
  border: 1px solid #444444;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .fujin__formConf__button-wrapper--fix {
    width: 200px;
    font-size: 16px;
  }
}

.fujin__formConf__button-wrapper--fix:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #dddddd;
  cursor: pointer;
}

.fujin__formConf__button-wrapper--send {
  display: block;
  width: 230px;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: #db3b1f;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .fujin__formConf__button-wrapper--send {
    width: 200px;
    margin-left: 20px;
    font-size: 16px;
  }
}

.fujin__formConf__button-wrapper--send:hover {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #bd2611;
  cursor: pointer;
}

.fujin__formConf form table {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .fujin__formConf form table {
    margin-bottom: 30px;
  }
}

.fujin__formConf form table th,
.fujin__formConf form table td {
  padding: 8px 12px;
  border: 1px solid #333;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .fujin__formConf form table th,
  .fujin__formConf form table td {
    width: 100%;
    display: block;
  }
}

.fujin__formConf form table th {
  width: 240px;
  background: #eee;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .fujin__formConf form table th {
    width: 100%;
  }
}

.fujin__formConf form table th .required {
  margin-left: 15px;
  color: #db3b1f;
  font-weight: bold;
}

.fujin__formConf form table td {
  background-color: #ffffff;
}

.fujin__formConf form table .year__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fujin__formConf form table .year__box div:nth-of-type(n + 2) {
  margin-left: 5px;
}
/*# sourceMappingURL=form.css.map */